@import './vars';

// font-family: 'Montserrat', sans-serif;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
	height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding:0 15px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.header {
    background-color: #05022D;
    padding: 13px 0 17px;

    &__logo img {
        width: 77px;
        height: 70px;
    }

    &__link {
        font-size: 12px;
        line-height: 25px;
        color: #fff;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

     &__list {
        li {
            display: inline-block;
        }
        li + li {
            margin-left: 15px;
        } 
    }

    &__contacts {
        margin-left: 18px;
        width: 132px;
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
    }

    &__contacts-tel {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        margin-left: 48px;
    }

    &__wrapper {
        width: 557px;
        display: flex;
        align-items: center;
    }
}

.baner {
    width: 1920px;
    height: 768px;
    position: relative;

    &__inner {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 30px;
        text-align: center;
        color: #fff; 
    }

    &__content {
        font-weight: 600;
        font-size: 25px;
        line-height: 45px;
        color: #fff;
    }
    &__btn {
        width: 220px;
        height: 45px;
        background-color: #fff;
        padding-top: 8px;
        text-align: center;
        margin: 25px auto 0;
        display: block;
        border: 1px solid rgba($color: #000000, $alpha: .6);
        background-color: transparent;
        font-size: 14px;
        color: #fff;
        &:hover {
            background-color: #95E1E1;
            transition: all .5s;
        }
    }
}

.customers {
    margin-top: 140px;
    padding-bottom: 113px;

    &__title {
        margin-bottom: 37px;
    }
    
    &__inner {
        display: flex;
        justify-content: center;
    }
    
    &__list {
        margin-left: 80px;
    }
    
    &__list-item {
        width: 459px;
        margin-bottom: 34px;
        position: relative;
        padding-left: 80px;
        &::before {
            position: absolute;
            content: url(../images/chek.svg);
            top: -6px;
            left: 0;
        }
    }
}

.cooperation {
    margin: 140px 0px;

    &__list-inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 133px;
    }

    &__list-big {
        width: 478px;
    }

    &__list-small {
        width: 378px;
    }

    &__list-item {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
    }

    &__list-num {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 60px;
        line-height: 45px;
        color: #B798E0;
        width: 47px;
        margin-right: 32px;
    }
}

.aboutus {
    width: 1926px;
    height: 768px;
    margin-bottom: 140px;
    position: relative;

    &__wrapper {
        width: 800px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 62px 34px 62px 71px;
        background: #100a33ad;
        border-radius: 8px;
        color: #fff;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 45px;
        color: #fff;
        width: 686px;
        margin-bottom: 62px;
        & span {
            display: block;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        p {
            margin-bottom: 35px;
        }
    }
}

.services {
    margin-bottom: 119px;

    &__title {
        margin-bottom: 140px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;    
        width: 220px;
        padding: 17px 0;
        background: rgba(183, 152, 224, 0.51);
        box-shadow: 4px 2px 10px rgba(183, 152, 224, 0.5);
        border-radius: 8px;
    }
}

.work {
    margin-bottom: 231px;

    &__title {
        margin-bottom: 130px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        img {
            margin-right: 77px;
            height: 886px;
        }
    }

    &__stages {
        display: flex;
    }

    &__stages-item {
        margin-bottom: 116px;
        position: relative;
        width: 160px;
    }
    &__stages-left {
        height: 905px;
        margin-right: 116px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 885px;
            width: 5px;
            background-color: #95E1E1;
            right: -53px;
            top: 5px;
        }
    }

    &__stages-right {
        margin-top: 75px;
    }
}

.work__stages-left {
    .work__stages-item {
        text-align: right;

        &:nth-child(4) {
            margin-bottom: 160px;
        }
        &::after {
            position: absolute;
            content: "1";
            width: 30px;
            height: 30px;
            background-color: #95E1E1;
            border-radius: 50%;
            right: -65px;
            top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 600;
            z-index: 3;
        }

        &:nth-child(2)::after {
            content: "3";
        }

        &:nth-child(3)::after {
            content: "5";
        }

        &:nth-child(4)::after {
            content: "7";
        }

        &:nth-child(5)::after {
            content: "9";
        }
    }
}

.work__stages-right {
    .work__stages-item {
        &:nth-child(3) {
            margin-bottom: 160px;
        }
        &::after {
            position: absolute;
            content: "2";
            width: 30px;
            height: 30px;
            background-color: #95E1E1;
            border-radius: 50%;
            left: -80px;
            top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 600;
            z-index: 3;
        }

        &:nth-child(2)::after {
            content: "4";
        }

        &:nth-child(3)::after {
            content: "6";
        }

        &:nth-child(4)::after {
            content: "8";
        }
    }
}

.advantage {
    width: 1000px;
    height: 650px;
    margin: 0 auto 190px;
    background-color: #FCFAFE;
    box-shadow: 0px 10px 20px 10px rgba(183, 152, 224, 0.5);
    border-radius: 8px;
    padding: 77px 45px 31px 48px;

    &__title {
        margin-bottom: 54px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 191px;
        text-align: center;
        margin-bottom: 69px;
        &:nth-child(5) {
            width: 175px;
        }
        &:nth-child(6) {
            width: 260px;
        }
        &:nth-child(7) {
            width: 183px;
        }
        &:nth-child(8) {
            width: 200px;
        }
    }

    &__item-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-top: 50px;
    }
}

.products {
    margin-bottom: 183px;

    &__title {
        margin-bottom: 65px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 220px;
        height: 289px;
        margin-bottom: 60px;
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }

    &__img {
        margin-bottom: 30px;
        width: 220px;
        height: 220px;
        & img {
           width: 100%;
           height: 100%;
        }
    }
}

.contacts {
    width: 1920px;
    height: 768px;
    padding-top: 140px;

    &__titile  {
        margin-bottom: 60px;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        width: 540px;
        margin-bottom: 77px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-top: -95px;
        margin-right: -119px;
    }

    &__social-text,
    &__social-link a {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #000;
        margin-bottom: 20px;
        position: relative;
        padding-left: 55px;
    }

    &__social-link {
        position: relative;
        &::before {
            content: url(../images/telephone-icon.svg);
            left: 0;
            top: 1px;
            position: absolute;
        }
        &:nth-child(2)::before {
            content: url(../images/check-contacts.svg);
        }
        &:nth-child(3)::before {
            content: url(../images/contacts-email.svg);
        }
        &:nth-child(4)::before {
            content: url(../images/contacts-facebook.svg);
        }
        &:nth-child(5)::before {
            content: url(../images/contacts-instagram.svg);
        }
        &:nth-child(6)::before {
            content: url(../images/contacts-watsApp.svg);
        }
        &:first-child::before {
            top: 4px;
        }
    }
}

.footer {
    background-color: #6C63FF;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        & + a {
            margin-left: 17px;
        }
    }
    &__copy {
        text-align: center;
        font-size: 12px;
        line-height: 25px;
        color: #FFFFFF;
        position: relative;
        margin-right: 74px;
        padding-bottom: 6px;
        & span {
            margin-right: 33px;
        }

        & span::after{
            position: absolute;
            content: url(../images/footercopy-icon.svg);
            top: 4px;
            right: 432px;
            padding: 0 1px;
        }
    }

    &__social-link {
        & + a {
        margin-left: 12px;
        }
    }
}

.popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);

    &__content {
        margin: 150px auto 0;
        background-color: #fff;
        width: 945px;
        height: 600px;
        padding: 75px 60px 30px;
    }

    &__content-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 65px;
    }

    &__form-input,
    &__form-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #000000;
        line-height: 16px;
        display: block;
        border: none;
        margin-bottom: 33px;
        border-bottom: 2px solid #6C63FF;
        width: 100%;
        padding: 10px;
        outline: transparent;
        &::placeholder {
            font-size: 12px;
            color: #000000;
            line-height: 16px;
        }
    }
    
    &__form-text {
        resize: none;
        height: 40px;
    }

    &__form-btn {
        width: 300px;
        height: 50px;
        margin: 51px auto 0;
        display: block;
        background: linear-gradient(134.36deg, #95E1E1 29.95%, #B798E0 74.72%);
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        border: none;
        box-shadow: none;
        line-height: 19px;
        color: #000000;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 12px rgba(183, 152, 224, 0.8);
            transform: scale(1.1);
        }
    }
}



